{% extends 'basic.html' %}
{% block title %} About Us {% endblock %}
{% block aboutactive %} active {% endblock %}

{% block body %}
<div class="container text-center my-3">
    <h2>Textutilitie.com</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo tempora voluptates nam repellat, repudiandae, fugit explicabo doloremque vitae atque assumenda provident commodi aliquid, maxime sequi pariatur. Sit similique quas iste. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, ex reprehenderit placeat quaerat doloribus quam enim debitis. Tenetur laboriosam asperiores magni sunt commodi delectus placeat impedit ad ratione. Magni incidunt exercitationem quasi laudantium alias tempora, molestiae maxime voluptate vitae porro fugiat ducimus, doloremque nemo architecto magnam aspernatur aliquam assumenda nobis!</p>
</div>


{% endblock %}
